@model EstacionamentoWeb.Models.Estacionar

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create" asp-controller="Estacionar" method="post">
    @Html.DropDownListFor(m => m.QualquerCoisa, ViewBag.Veiculos as SelectList, new { @class = "form-control" })
    @Html.DropDownListFor(m => m.EstacionamentoId, ViewBag.Estacionamentos as SelectList, new { @class = "form-control" })
    <input class="btn btn-info" type="submit" value="Cadastrar" />
</form>
