@model IEnumerable<EstacionamentoWeb.Models.Estacionar>

@{
    ViewData["Title"] = "Index";
}

<h1>Estacionar</h1>

<p>
    <a asp-action="Create">Estacionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculo)
                    <a asp-action="Retirar" asp-route-id="@item.Id">Retirar</a>
                </td>
            </tr>
        }
    </tbody>
</table>