@model IEnumerable<EstacionamentoWeb.Models.Usuario>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Cadastrar" asp-controller="Usuario">Cadastre-se</a>
</p>
<p>
    <a asp-action="Login" asp-controller="Usuario">Efetuar Login</a>
</p>

